body {
    font-family: Arial, sans-serif;
    padding: 10vw;
}

#storageList, #thirdPartyList {
    display: none;
    list-style-type: none;
    padding-left: 0;
    max-height: 150vw;  
    overflow-y: auto;  
    word-wrap: break-word; 
}

li {
    margin-bottom: 10vw;
    word-wrap: break-word; 
}

button {
    margin-bottom: 10vw;
    cursor: pointer;
}

button:hover {
    margin-bottom: 10vw;
    cursor: pointer;
    color: red;
}

.lists{
    padding: 1vw;
    text-overflow: clip;
}